@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome!</h1>
    <p class="lead">Welcome to the home of the Vandelay Industries Transaction Tracking System.</p>
    <p><a href="/admin" class="btn btn-primary btn-lg">Get Started By Adding Some Info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Track Your Sales People</h2>
        <p>
            With all the business that you do on a day to day basis, you could get confused.  Well, with the VITTS system, you can track all your
            sales people in one, easy to use place.
        </p>
        <p><a class="btn btn-default" href="/salesperson">Start Tracking Sales People &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Buyers and Sellers</h2>
        <p>Keep track of who is buying what, and when</p>
        <p><a class="btn btn-default" href="/buyer">Start Tracking Buyers &raquo;</a></p>
        <p><a class="btn btn-default" href="/seller">Start Tracking Sellers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Items and Transactions</h2>
        <p>Once you know who is buying and selling, you can start tracking WHAT they are buying a selling</p>
        <p><a class="btn btn-default" href="/item">Add Some Items &raquo;</a></p>
        <p><a class="btn btn-default" href="/transaction">Add Some Transactions &raquo;</a></p>
    </div>
</div>